@import "../assets/css/main";

.main-footer{
  background-color: #fff;
  .right-side{
    .img-container{

      margin: 10px 0;
      img{
        width: 135px;
        object-fit: contain;
      }
    }
    .benefits{
      padding: 15px;
      background-color: #F3F3F3;
      border-radius: 20px;
      .item{
        margin-bottom: 15px;
        .icon-container{
          display: flex;
          justify-content: center;
          img{
            width: 45px;
          }
        }
        .content{
          font-family: iranyekan;
          .head{
            @extend %bold-content;
          }
          .description{
            @extend %normal-content;
          }
        }
      }
    }
  }
  .center-footer{
   .about{
     margin: 15px 0;
     text-align: right;
     border-bottom: 1px solid #efefef;
     h2{
       font-size: 20px;
       font-weight: 700;
       span{
         font-size: 20px;
         font-weight: 700;
       }
     }
     p{
       font-family: iranyekan;
       @extend %normal-content;
     }
   }
    .main-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      font-family: iranyekan;
      .address{
        display: flex;
        .loc-icon{
          fill: #CECECE;
          width: 32px;
          margin-left: 15px;
        }
      }

      .tag{
        font-family: sans-serif;
        background-color: #CECECE;
        border-radius: 6px;
        color: #fff;
        padding: 1px 15px;
        font-size: 13px;
        display: inline-block;
        margin-bottom: 10px;
        &.left{
          text-align: left;
        }
      }
      .txt{
       font-size: 14px;
        font-weight: 400;
        &.mail{
          font-family: sans-serif;
          text-align: left;
          font-weight: 500;
          font-size: 15px;
        }
      }
      .mail-side{
        text-align: left;
      }
    }
  }
  .navigation{
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 15px 0;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;

    .line{
      margin-top: 10px;
      height: 70px;
      width: 1px;
      background-color: #E1E1E1;
    }
    .nav-box{
      text-align: right;
      padding: 0 25px;
      //border-left: 1px solid #E1E1E1;
      //&:nth-last-child(1){
      //  border-left: transparent;
      //}
      .item{
        a{
          position: relative;
          font-family: iranyekan;
          font-size: 13px;
          font-weight: 400;
          display: flex;
          align-items: center;
          padding: 5px 10px;
          &:before{
            position: absolute;
            content: "";
            width: 4px;
            height: 10px;
            right: 0;
            background-color: $primary;
            border-radius: 50px;


          }
        }
      }
    }
  }
}
.stoic{
  position: relative;
  .arrow{
    background-color: $primary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 3px solid #fff;
    z-index: 1;
    cursor: pointer;
    left: -15px;
    bottom: -15px;
    svg{
      width: 12px;
      fill: #fff;
    }
  }
  .footer-img-container{
    position: relative;
    width: 150px;
    img{
      width: 150px;
      object-fit: contain;
      position: absolute;
      right: 0;
      top: -55px;
      border-radius: 20px;
    }
  }
}
.support{
  background-color: $primary;
  border-radius: 20px;
  padding: 15px;
  .img-container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;
    img{
      width: 135px;
    }
  }
  .content{
    .head{
      font-weight: 700;
      font-size: 26px;
      color: #fff;
      margin-bottom: 10px;
    }
    .description{
      font-size: 13px;
      font-weight: 400;
      font-family: iranyekan;
      color: #fff;
      margin: 20px 0;
    }
    .number{
      background-color: #fff;
      border-radius: 50px;
      padding: 5px 20px;
      font-family: iranyekan;
      font-weight: 800;
      font-size: 16px;
      display: inline-block;
    }
  }
}
.social{
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  li{
    padding: 0 5px;
    a{
      svg{
        width: 26px;
        fill: rgb(255 74 74);
      }
    }
  }
}
.bottom{
  font-size: 13px;
  font-family: sans-serif;
  background-color: #EFF2F3;
  padding: 15px 0;
  text-align: left;
  color: #6D6B6B;
}

.strong{
  font-weight: 800;

}
@media screen and (max-width: 560px) {
  .navigation{
    display: none!important;
    }
}
@media screen and (max-width: 1200px) {
  .line{
    display: none!important;
  }
  .nav-box{
    padding: 0 15px!important;
  }
}
.mobile-nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(255 255 255 / 50%);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  border-top: 1px solid #ebebeb;
  align-items: center;
  .item{
    padding: 5px 15px 15px 15px;
    .title{
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      color: #1b1e21;
      margin-top: 10px;
      font-family: iranyekan;
    }
  }
  .mobile-nav-icon{
    height: 25px;
    fill: #797979;
  }
}
