@import "../assets/css/main";

.main-header {
    //background-color: #050d1e;
    background-color: transparent;
    padding: 25px 0 10px 0;
    display: flex;
    align-items: center;

    .logo{
        width: 128px;
        margin-right: auto;
        position: relative;
        display: inline-block;
        top: -10px;
        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
  
        .access {
            margin-left: auto;
            display: inline-block;
            .item {
                width: 32px;
                cursor: pointer;
                height: 32px;
                display: inline-block;
                margin: 0 10px;
    
                img {
                    object-fit: contain;
                }
            }
        }
    
        .header-tags {
            display: inline-block;
            background-color: #fff;
            border: 1px solid #efefef;
            padding: 3px 10px;
            font-size: 14px;
            font-family: IRANYekan;
            font-width: 500;
            border-radius: 50px;
    
            .item {
                display: inline-block;
                padding: 5px 35px;
    
                a {
                    font-size: 14px;
                    color: #232323;
                }
            }
        }
   
}
// @media screen and (min-width: 1200px) {
//     .main-header{
//         display: flex;
//         align-items: center;
//     }
//     .logo{
//         top: -10px;
//     }
//   }

.reg-form .input-control{
    margin-bottom: 5px!important;
    margin-top: 15px;
}

.login-required{

    .modal-header{
        border-bottom: transparent!important;
        padding: 25px 50px 20px 50px!important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .modal-cross-icon{
            cursor: pointer;
            width: 24px;
            fill: #c7c7c7;
        }
        .modal-title{
            font-size: 20px;
            font-weight: 500;
        }

        .close{
            position: relative;
            top: 10px;
            right: 5px;
        }
    }
    .modal-body{
        font-family: iranyekan;
        display: flex;
        padding: 0rem 3rem;
        flex-direction: column;
        .auth-btn{
            cursor: pointer;
            padding: 10px 15px;
            display: inline-block;
            font-weight: 400;
            background-color: $primary;
            color: #f7f7f7;
            border-radius: 25px;
            @extend %normal-content;
            font-size: 15px;
            width: 45%;
            text-align: center;
        }
        .create{
            margin: 10px 0;
            font-size: 13px;
            color: #878787;
            font-weight: 400;
            span{
                color: $secondary;
                padding-right: 5px;
                cursor: pointer;
                font-weight: 500;
            }
        }
        .login-choices{
            .content{
                @extend %normal-content;
                margin-top: 10px;
                border-top: 1px solid #ececec;
                padding-top: 15px;

            }
            text-align: center;
            img{
                margin: 10px 5px;
                width: 36px;
            }
        }
        .input-control{
            margin-bottom: 15px;
        }
        .title{
            font-weight: 400;
            text-align: right;
            font-size: 13px;
            margin-top: 15px;
            font-family: iranyekan;
        }

        .modal-logo{
            text-align: center;
            img{
                width: 165px;
            }
        }
    }
    .modal-footer{
        padding-top: 0;
        font-size: 12px;
        font-family: IRANYekan;
        a{
            color: $secondary;
        }
        .content{

            @extend %small-content;
            text-align: center;
        }
        //display: flex;
        border-top: transparent;
        justify-content: center;


    }

}

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
}
.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
    color: #FFF;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    transform: translateY(-12px);
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
}

@media screen and (max-width: 1200px) {
    .main-header{
        .header-tags{
            .item{
                padding: 5px 15px;
                a{
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .auth-btn{
        width: 100%!important;
    }

}
.count-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 ;
    font-size: 13px;
    .txt{
        padding-right: 5px;
    }
    .sendSMSAgain{
        cursor: pointer;
        padding: 5px 15px;
        background: #b40000;
        border-radius: 10px;
        color: #efefef;
        &.static{
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
.phone-nav-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    background-color: #f7f7f7;
    //background-color: rgb(255 255 255 / 50%);
    //backdrop-filter: blur(10px);
    border-bottom: 1px solid #ebebeb;
    //padding: 10px 0;
    padding-bottom: 5px;
    z-index: 100;

    .phone-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        //.dropdown{
        //    .dp-toggle{
        //        border: none;
        //        background-color: transparent;
        //        &:after{
        //            display: none;
        //        }
        //        &:focus{
        //            box-shadow: none;
        //        }
        //    }
        //}
        .item{
            padding: 15px;
            position: relative;
            .has-notify{
                width: 18px;
                user-select: none;
                height: 18px;
                border-radius: 50%;
                background-color: $primary;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 5px;
                top: 20px;
                z-index: 500;
                font-family: sans-serif;
                color: $light;
                font-size: 11px;
            }
            img{
                width: 30px;
            }
            .back-icon{
                height: 25px;
                fill: #6a6a6a;
            }
            .notification-icon{
                height: 27px;
                top: 1px;
                position: relative;
            }
        }
        .notify-box{
            @extend %first-box;
            position: absolute;
            right: 0;
            top: 55px;
            width: 270px;
            overflow: hidden;
            //padding: 0 25px;
            .notifications{
                max-height: 320px;
                overflow-y: auto;
                background-color: #f7f7f7;
                .notification-item{
                    font-family: IRANYekan;
                    font-size: 13px;
                    text-align: right;
                    padding: 5px 15px;
                    margin-top: 10px;
                    .title{
                        font-size: 13px;
                        font-weight: 600;
                        color: $black;
                        margin-bottom: 5px;
                        padding-right: 10px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        &:before{
                            position: absolute;
                            content: "";
                            right: 0;
                            background-color: $primary;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;

                        }
                        &.read{
                            &:before{
                                background-color: #429434;
                            }
                        }
                    }
                    .message{
                        font-size: 11px;
                        color: lighten($dark, 30%);
                        .character{
                            font-weight: 400;
                            color: $light;
                            background-color: lighten($dark, 10%);
                            border-radius: 5px;
                            padding: 3px 10px;
                            margin-right: 10px;
                        }
                    }
                    &:nth-last-child(1){
                        margin-bottom: 15px;
                    }
                }
            }
            .notif-footer{
                display: flex;
                justify-content: space-between;
                text-align: center;
                .item{
                    flex: 1;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #efefef;
                    font-size: 13px;
                    &:nth-last-child(1){
                        border-right: 1px solid #f7f7f7;
                    }
                    svg{
                        fill: #a3a3a3;
                        height: 16px;
                        margin-left: 5px;
                    }
                }
            }
            .head{
                font-weight: 500;
                font-size: 15px;
                padding: 10px 20px;
                border-bottom: 1px solid #efefef;
                &.has{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                }
                .clean-icon{
                    height: 20px;
                    fill: lighten($dark, 20%);
                }
            }
            .item{
                font-family: IRANYekan;
                font-size: 13px;
                font-weight: 400;
                text-align: right;
                padding-bottom: 10px;
                border-bottom: 2px solid darken($light , 2%);;
            }
            .empty{
                img{
                    width: 60px;
                }
                .text{
                    font-size: 12px;
                }
            }

        }
        .logo{
            padding:5px;

            img{
                width: 100px;
            }
        }
    }
}
.show-password-icon{
    cursor: pointer;
    left: 15px;
    top: 15px;
    position: absolute;
    width: 18px;
    fill: #7b7b7b;
    &.hide{
        top: 14px;
    }
}


.blur-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust height to cover the status bar */
    background-color: rgba(255, 255, 255, 0.6); /* Translucent background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari-specific prefix */
    z-index: 100; /* Ensure it's above other content */
}

.search-modal{
    .modal-dialog{
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0;
        }

        .modal-body{
            padding: 15px 30px;
        }
        .modal-content{
            //background-color: rgba(0 , 0 , 0 , 0.1);
            //backdrop-filter: blur(15px);
            padding: 0 15px;
            background-color: $light;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
                border-radius: 0;
                border:transparent;

            }

            .search-input{
                width: 100%;
                position: relative;
                margin-top: 25px;
                .spinner-container{
                    right: -5px;
                    left: unset;
                    top: -6px;
                    .spinner{

                    }
                }
                .input{
                    width: 100%;
                    outline: none;
                    border-radius: 0!important;
                    font-family: iranyekan;
                    border: transparent;
                    border-bottom: 1px solid #cfcfcf;
                    padding: 5px 30px 15px 15px;
                    background-color: $light;
                    display: inline-block;
                    &::placeholder{
                        font-size: 13px;
                    }
                }
                .back-container{
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 30px;
                    display: inline-block;
                }
                .search-icon, .back-icon{
                    position: absolute;
                    width: 20px;
                    fill: #a5a5a5;
                    top: 6px;
                }
                .search-icon{
                    right: 0;
                }
                .back-icon{
                    top: 8px;
                    left: 0;
                }
            }
        }
        .modal-header{

            border-bottom: transparent;
        }
    }
    &.fade {
        .modal-dialog {
            transform:translate(0, 0);
        }
    }
    .search-modal-results{
        text-align: right;
        .item{

            @extend %medium-content;
            margin-bottom: 15px;
            padding-right: 20px;
            position: relative;
            display: flex;
            align-items: center;
            &:before{
                content: "";
                width: 7px;
                height: 7px;
                background-color: $primary;
                position: absolute;
                border-radius: 50%;
                right: 5px;
            }
            font-family: iranyekan;
        }
        .head{
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 15px;
            padding: 5px 0;
            display: flex;
            align-items: center;

            .icon-container{
                background-color: #efefef;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                margin-left: 10px;
                @extend %first-box;
                svg{
                    height: 20px;
                    fill: #1d2124;
                }
            }
          ;
        }
    }

}
.menu-modal{
    .modal-header{
        padding: 15px 30px;
        .modal-title{
            margin-right: 15px;
            text-align: right;
            .menu-logo{
                fill: $primary;
                width: 50px;
                margin: 15px 5px;
            }
            .text{
                font-size: 21px;
                font-weight: 700;
                padding-bottom: 15px;
                border-bottom: 1px solid #c7c7c7;
            }
        }
        .back-container{
            position: absolute;
            left: 40px;
            top: 25px;
            height: 40px;
            width: 30px;
            display: inline-block;
           .back-icon{
                width: 20px;
                fill: #a5a5a5;
           }

        }

    }
    .modal-content{
        .modal-menu-items{
            text-align: right;
            font-family: iranyekan;
            .item{
                padding: 10px 15px;
                font-size: 14px;
                font-weight: 500;
                .menu-icons{
                    width: 20px;
                    fill: #1d2124;
                    margin-left: 10px;
                }
                &:nth-last-child(2){
                    margin-top: 35px;
                }
                &:nth-last-child(1), &:nth-last-child(2){
                    padding: 5px 35px 5px 0;
                    font-size: 15px;
                    font-weight: 400;
                    position: relative;
                    display: flex;
                    align-items: center;
                    &:before{
                        content: "";
                        width: 8px;
                        height: 8px;
                        background-color: $primary;
                        position: absolute;
                        border-radius: 50%;
                        right: 20px;
                        transform: translateY(-1px);
                    }
                }
            }
        }
    }
}

.full-screen-modal-bellow-md{
    .modal-dialog {
        .modal-header{
            border-bottom: 1px solid #efefef;
            padding: 25px 45px 15px 45px!important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .modal-cross-icon{
                cursor: pointer;
                width: 24px;
                fill: #c7c7c7;
            }
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0;
        }

        .modal-body {
            padding: 15px 30px;
            overflow-y: auto;

        }

        .modal-content {
            border-radius:25px;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: 100%;
                border-radius: 0!important;
                border: transparent;

            }
        }
    }
    &.fade {
        .modal-dialog {
            transform:translate(0, 0);
        }
    }
}
