@import "../assets/css/main";

.my-profile {
  .validate-error{
    //font-family: IRANYekan;
    margin-top: 10px;

  }
  .dashboard {
    width: 100%;
    padding: 0 25px;

    .user-access {
      .item {
        position: relative;
        .point-icon{
          height: 16px;
          position: absolute;
          left: 5px;
          fill: #c7c7c7;
        }
        .text{
          font-size: 13px;
        }
        a{
          display: flex;
          align-items: center;
        }
        font-family: IRANYekan;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        padding: 10px 15px;

        .icon-container {
          background-color: #efefef;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          margin-left: 10px;
          @extend %first-box;

          svg {
            height: 20px;
            fill: #1d2124;
          }
        }
      }
    }

    .experience {
      width: 100%;
      margin-top: 15px;

      .range {
        display: block;
        height: 7px;
        background-color: #e7e7e7;
        @include prefix(border-radius, 40px);
        width: 100%;

        direction: ltr;
        text-align: left;

        .xp-range {
          height: 100%;
          @include prefix(border-radius, 40px);
          background-color: $primary;
        }
      }

      .xp-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        .info {
          padding-right: 10px;
          font-size: 16px;
          font-weight: 700;
          .slash {
            padding: 0 5px;
            font-weight: 300;
          }
        }
      }

      .txt {
        background-color: #efefef;
        font-size: 13px;
        padding: 5px 15px;
        border-radius: 10px;
        margin-right: 5px;

      }
    }

    .user-info {
      width: 100%;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .avatar {
          width: 70px;
          height: 70px;
          overflow: hidden;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .names {
          display: flex;
          flex-direction: column;
          margin-left: auto;
          text-align: right;
          margin-right: 15px;

          .name {
            font-family: iranyekan;
            @extend %bold-content;
            //margin-bottom: 5px;
          }

          .grade {
            //border-top: 1px solid #dfdfdf;
            padding-top: 5px;
            font-size: 10px;
            font-family: IRANYekan;
            display: flex;
            align-items: center;

            .mark {
              font-size: 12px;
              width: 20px;
              height: 20px;
              font-family: sans-serif;
              border-radius: 5px;
              margin-right: 5px;
              background-color: $primary;
              color: $light;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

        }

        .grades {
          text-align: left;

          .level {
            font-family: sans-serif;
            @extend %normal-content;
            padding-left: 5px;

            .lvl {
              font-size: 18px;
              font-weight: 700;
            }

            .icon-container {
              display: inline-block;
              width: 24px;
              height: 24px;
              margin-right: 5px;
              position: relative;
              top: -5px;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }

          .nickname {
            background-color: #429434;
            font-family: sans-serif;
            color: $light;
            font-size: 13px;
            font-width: 400;
            padding: 3px 10px;
            border-radius: 10px;
            &.not{
              font-family: IRANYekan;
              font-weight: 300;
            }
          }

        }
      }

      .foot {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
          text-align: right;
          font-family: iranyekan;
          @extend %normal-content;
          padding-left: 15px;

          &:nth-last-child(1) {
            padding-left: 0;
          }

          &.reg-date {
            font-size: 11px;
            background-color: #F3F3F3;
            padding: 3px 15px;
            border-radius: 50px;
          }

          svg {
            width: 20px;
            height: 20px;
            fill: #D2D2D2;

            &.score-icon {
              width: 17px;
            }
          }
        }
      }
    }
  }

  .scores {
    margin-bottom: 25px;
    .info-card {
      text-align: right;
      position: relative;
      font-size: 16px;
      font-weight: 500;
      @extend %normal-box;
      padding: 10px 20px;
      .title{
        background-color: $light;
        margin: 5px 0;
        padding: 5px 15px;
        border-radius: 10px;
        text-align: center;
      }
      .bg-icon {
        width: 65px;
        margin-bottom: 10px;

      }
      .count{
        font-size: 16px;
        font-weight: 600;
        background-color: $light;
        border: 1px solid #efefef;
        //color: #fff;
        font-family: IRANYekan;
        position: absolute;
        //background-color: #efefef;
        //width: 30px;
        //height: 30px;
        padding: 5px 15px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 20px;
        top: 20px;
      }
    }
  }
  .wallet{
    text-align: right;
    margin-top: 25px;
    position: relative;
    border-top: 1px solid #efefef;
    padding: 20px 10px 0 10px;
    .title{
      font-size: 16px;
      font-weight: 500;
    }
    .balance{
      font-weight: 700;
      font-size: 16px;
      position: absolute;
      left: 10px;
      bottom: 0;
    }
    svg{
      width: 22px;
      fill: #3b3b3b;
      margin-left: 5px;

    }
  }
}
.warning{
  background-color: #ffd1d1;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid $primary;
  padding: 5px;
}
.user-info-top{
  text-align: right;
  @media screen and (max-width: 370px) {
   text-align: center;

  }
  .next-to-avatar{
    display: inline-block;
    margin-right: 30px;
    position: absolute;
    top: 0;
    margin-top: 10px;
    @media screen and (max-width: 400px) {
      margin-right: 15px;

    }
    @media screen and (max-width: 370px) {
      position: relative;
      width: 100%;
      margin-right: 0;

    }
    .change-password{
      font-family: IRANYekan;
      font-size: 13px;
      font-weight: 400;
      background-color: #efefef;
      padding: 10px 0;
      text-align: center;
      border-radius: 15px;
      margin-top: 10px;
      cursor: pointer;
      svg{
        width: 20px;
        margin-left: 5px;
        fill: #bcbec0;
      }
    }
  }
  .account-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: iranyekan;
    font-size: 13px;
    width: 100%;
    padding: 0 15px;
    .attr{
      color: #bcbec0;
      font-weight: 400;
    }
    .active{
      //background-color: #efefef;
      display: flex;
      align-items: center;
      border-radius: 10px;

      font-size: 14px;
      font-weight: 600;
      margin-right: 15px;
    }

    .payment-status-icon{
      margin-right: 10px;
      width: 16px;
      .circle{
        fill: $primary;
        &.success{
          fill: #429434;
        }
      }
      .path{
        fill: #fff;
      }
    }
  }
}
.avatar-container{
  @extend %normal-box;
  position: relative;
  border: 4px dashed #bcbec0;
  width: 85px;
  height: 85px;
  border-radius: 20px;
  overflow:hidden;
  display: inline-block;
  &.has-avatar{
    //border: transparent;
  }
  &.loading{
    border: transparent;
    display: inline-block;
    box-shadow: none;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.user-info-page{
  .input-label{
    width: 100%;
    text-align: right;
    padding-right: 10px;
    font-weight: 600;
  }
  .input-control{
    text-align: right;
    font-family: IRANYekan;
  }
}
.user-info-top{
  //display: flex;
  .choose-image{
    background-color: $primary;
    margin-top: 20px;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: iranyekan;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-right: 25px;
  }

}
.message-nick{
  font-family: IRANYekan;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 5px;
}
.input-nick{
  .payment-status-icon{
    margin-right: 10px;
    position: absolute;
    top: 12px;
    left: 15px;
    width: 25px;
    .circle{
      fill: $primary;
      &.success{
        fill: #429434;
      }
    }
    .path{
      fill: #fff;
    }
  }
  .nickname-input{

  }
}





.admin-users{
  .search-input{
    width: 100%;
    position: relative;
    margin-top: 25px;
    .spinner-container{
      right: -5px;
      left: unset;
      top: -6px;
      .spinner{

      }
    }
    .input{
      width: 100%;
      outline: none;
      border-radius: 0!important;
      font-family: iranyekan;
      border: transparent;
      border-bottom: 1px solid #cfcfcf;
      padding: 5px 30px 15px 15px;
      background-color: $light;
      display: inline-block;
      &::placeholder{
        font-size: 13px;
      }
    }
    .back-container{
      position: absolute;
      left: 0;
      height: 100%;
      width: 30px;
      display: inline-block;
    }
    .search-icon, .back-icon{
      position: absolute;
      width: 20px;
      fill: #a5a5a5;
      top: 6px;
    }
    .search-icon{
      right: 0;
    }
    .back-icon{
      top: 8px;
      left: 0;
    }
  }
}
.user-table {
  direction: rtl; // Set the direction to RTL
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: IRANYekan;

  .user-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .user-profile-pic {
    margin-left: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .user-info {
    text-align: right;

    .user-name-family {
      display: flex;
      justify-content: space-between;

      .user-name {
        font-weight: bold;
      }

      .user-family {
        font-weight: normal;
      }
    }

    .user-username {
      font-size: 14px;
      color: #555;
    }

    .user-phone {
      font-size: 12px;
      color: #888;
      margin-top: 5px;
    }
  }
}
.avatar-upload-btn{

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  cursor: pointer;
}

.choose-avatar-container{
  margin-top: 25px;
  border-radius: 15px ;
  overflow: hidden;
  width: 100%;
  //max-height: 500px;
  img{
    width: 100%;
  }
}
.notices{
  text-align: right;
  font-family: iranyekan;
  .item{
    display: flex;
    align-items: center;
    @extend %normal-content;
    padding: 5px 15px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: $primary;
      border-radius: 50%;
      right: 0;
    }
  }
}
.transictions{
  font-family: IRANYekan;

  .item{
    @extend %first-box;
    margin-bottom: 30px;
    .id{
      @extend %medium-content;
      .icon{
        height: 20px;
        fill: #d9d9d9;
        margin-left: 10px;
      }
    }
    .transiction-status{

    }
    .transiction-cube{
      padding: 10px 15px;
      background-color: #f3f3f3;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cube-num{
        position: relative;
        img{
          right: -35px!important;
        }
      }
    }
    .head{
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      .head-item{
        font-size: 12px;
        text-align: right;
        .number-order{
          font-size: 23px;
          font-weight: 800;
          display: flex;
          &.order-date{
            font-size: 16px;
            margin-top: 5px;
            display: block;
            text-align: left;
          }
          align-items: center;
          .icon{
            fill: #676767;
            width: 24px;
            margin-left: 10px;

          }
        }
      }
    }
    .transiction-footer{
      display: flex;
      justify-content: space-between;
      padding: 5px 15px;
      margin: 10px 0;
      .icon-status-container{
        padding: 5px 5px 5px 15px;
        background-color: #F3F3F3;
        border-radius: 20px;
        display: inline-flex;
        font-size: 13px;
        align-items: center;
        svg{
          margin-left: 5px;
        }

        &.success{
          background-color: #e7ffe5;
        }
        &.error{
          background-color: #ffe5e5;
        }
        .payment-status-icon{
          width: 20px;
          .circle{
            fill: $primary;
            &.success{
              fill: #429434;
            }
          }
          .path{
            fill: #fff;
          }
        }
      }
    }
    .top-label{
      padding-top: 15px;
      border-top: 1px solid #efefef;
    }
    .score{
      width: 20px;
      height: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #429434;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      border-radius: 5px;
      margin-right: 5px;
    }
    .win-side{
      padding: 3px 10px;
      background-color: #f3f3f3;
      font-size: 13px;
      border: 1px solid #4d942d;
      border-radius: 25px;
    }
  }
}
.pagination{
  font-family: IRANYekan;
  text-align: center;
  justify-content: center;
  .item{
    @extend %medium-content;
    padding: 5px 15px;
    //border: 1px solid #efefef;
    margin: 0 5px;
    @extend %first-box;
    border-radius: 10px;
    cursor: pointer;
    &.disabled{
      background-color: #efefef;
      color: #919191;
      cursor:not-allowed ;
    }
    &.active{
      background-color: #429434;
      color: #fff;
    }
  }
}
.title-dashboard{
  @extend %bold-content;
  font-size: 25px;
  text-align: right;
  margin-bottom: 20px;
  padding-right: 10px;
  position: relative;

  .icon-container{
    display: inline-block;
    margin-left: 10px;
    svg{
      fill: #5d5d5d;
      width: 25px;
    }
  }
}